public class Name {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        // My name
        
        System.out.println ("My name is Jean");
        System.out.println("Hello, I am Connie");
        System.out.println("Hello, Jingxian Huang visited this file!!");
        
        
  }
  
